 body{
    background-color:gray;
	position:relative;
  }
  .skip{
    padding:5px;
  }
  .nav{
	color:white;
	}
  .nav:hover{
  color:white;
  }
  .heading{
font-family:"courier";
font-color:"white";
font-weight: 400;
font-size:15pt;
width:90%;
height:100px;
margin-left:3%;
margin-right:3%;
border-style:solid;
position:fixed;
text-align:center;
padding:1% 1% 5% 15%;
background-color:black;
border-radius:50px;
}
  
  .boxing{
    border-style:solid;
  }
  .boxed{
    border-style:solid;
    width:100%;
    height:3%;
    float:left;
  }
   .boxedd{
    border-style:solid;
    width:5%;
    height:3%;
    float:right;
    text-align:center;
  }
  .boxingleft{
    width:70%;
    height:30%;
    border-style:solid;
    float:left;
  }
  .boxingright{
    width:30%;
    height:30%;
    border-style:solid;
    float:right;
  }
  table{
  width: 80%;
  margin:auto;
  
  }
  
  td{
  width:25%;
  border-style:solid;
  text-align:center;
  }
  ul{
  font-size:15pt;
  }
  .featured{
  color:black;
  margin-top:1-%
}
.featured{
font-size:20pt;
margin-left:10%
}