{% extends "base.html" %}

{% block title %}Hope 4 Hops{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beerprofile.css') }}">

</head>


<body>
<div class="container-fluid text-left">
<!-- <div class="row"> -->

<!-- <div class = "description"> -->
    <div class="col-sm-5">

      <!-- <div class="text-left"> -->

      <h1>{{beer.name}}</h1>
      <!-- <img src="{{ url_for('static', filename='beer.beer_image') }}" style="width:100%; float:right"> -->
      <!-- <img src="" style="width:100%; float:right"> -->
      <img src="{{beer.beer_image}}">
      <span>
      Brewed By: {{beer.brewery.name}}<br>
      Style: {{beer.beer_type}}<br>
      Alcohol By Volume: {{beer.abv}}<br>

      Popularity: {{beer.average_popularity}}<br>
      Rarity: {{beer.rarity}}<br>
    </span>
    <table>
    <thead>
    <td>Store Name</td>
    <td>Store Traffic</td>
    <td>Distance From User</td>
    <td>Delivery Day</td>

    </thead>
    <tr>
      {% for store in beer.stores %}
    <td>{{store.name}}</td>
    <td>{{store.average_traffic}}</td>
    {% endfor %}
    {% for d in distances %}
    <td>{{d}}</td><br>
        {% endfor %}
    <td>{{beer.devlivery_day_of_the_week}}</td>

    </tr>
    </table>

    <p>Tell us how you feel about this brew:</p>
    <form method="POST">
    <div  class="inner">
        <label for="1"> <input name="new_rating" type="radio" value="1" />  1  </label>
    </div>
    <div class="inner">
        <label for="2"> <input name="new_rating" type="radio" value="2" /> 2 </label>
    </div>
    <div class="inner">
        <label for="3"> <input name="new_rating" type="radio" value="3" /> 3 </label>
    </div>
    <div  class="inner">
        <label for="4"> <input name="new_rating" type="radio" value="4" /> 4 </label>
    </div>
    <div  class="inner">
        <label for="5"> <input name="new_rating" type="radio" value="5" /> 5 </label>
    </div>

    <!-- </div> -->


      </div>
<!-- </div> -->

    <!-- <div class="col-sm-5"> -->


    <!-- </div> -->


  </div>


</div>


</body>
</html>

{% endblock %}
