{% extends "base.html" %}

{% block title %}Hope 4 Hops{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beerprofile.css') }}">

</head>


<body>
<div class="container-fluid text-center">
<div class="row">

<!-- <div class = "description"> -->
    <div class="col-sm-5">

      <div class="text-left">

      <h1>{{beer.name}}</h1>
      <!-- <img src="{{ url_for('static', filename='beer.beer_image') }}" style="width:100%; float:right"> -->
      <!-- <img src="" style="width:100%; float:right"> -->
      <img src="{{beer.beer_image}}">
      <span>
      Brewed By: {{beer.brewery.name}}<br>
      Style: {{beer.beer_type}}<br>
      Alcohol By Volume: {{beer.abv}}<br>

      Popularity: {{beer.average_popularity}}<br>
      Rarity: {{beer.rarity}}<br>
    </span>
    <form>
<p>Tell us how you feel about this brew:</p>
<div class="inner">
  <input type="radio" name="new_rating" value="1">
  <label for="contactChoice1">1</label>
  <input type="radio" name="new_rating" value="2">
  <label for="contactChoice2">2</label>
  <input type="radio" name="new_rating" value="3">
  <label for="contactChoice3">3</label>
  <input type="radio" name="new_rating" value="4">
  <label for="contactChoice3">4</label><
  <input type="radio" name="new_rating" value="5">
  <label for="contactChoice3">5</label>
</div>
<div>
  <button type="submit">Submit</button>
</div>
</form>


<div  class="inner">
    <label for="1"> <input name="new_rating" type="radio" value="1" />  1  </label>
</div>
<div class="inner">
    <label for="2"> <input name="new_rating" type="radio" value="2" /> 2 </label>
</div>
<div class="inner">
    <label for="3"> <input name="new_rating" type="radio" value="3" /> 3 </label>
</div>
<div  class="inner">
    <label for="4"> <input name="new_rating" type="radio" value="4" /> 4 </label>
</div>
<div  class="inner">
    <label for="5"> <input name="new_rating" type="radio" value="5" /> 5 </label>
</div>

            </div>


      </div>
    </div>

    <div class="col-sm-5">
      <table>
      <thead>
      <!-- <td>Store Name</td> -->
      <!-- <td>Store Traffic</td> -->
      <td>Delivery Day</td>

      </thead>
      <tr>
      <!-- <td>{{storename}}</td> -->
      <!-- <td>{{traffic}}</td> -->
      <td>{{beer.devlivery_day_of_the_week}}</td>

      </tr>
      </table>

    </div>


  </div>


</div>


</body>
</html>

{% endblock %}
