{% extends "base.html" %}

{% block title %}Hope 4 Hops{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beerprofile.css') }}">

</head>


<body>
<div class="container-fluid text-left">
<!-- <div class="row"> -->

<!-- <div class = "description"> -->
    <div class="col-sm-5">

      <!-- <div class="text-left"> -->

      <h1>{{beer.name}}</h1>
      <!-- <img src="{{ url_for('static', filename='beer.beer_image') }}" style="width:100%; float:right"> -->
      <!-- <img src="" style="width:100%; float:right"> -->
      <img src="{{beer.beer_image}}"><br>
      <span>
      Brewed By: {{beer.brewery.name.upper()}}<br>
      Style: {{beer.beer_type.upper()}}<br>
      Alcohol By Volume: {{'%0.2f'| format(beer.abv*100|float)}}%<br>

      Popularity: {{beer.average_popularity}}<br>
      Rarity: {{beer.rarity}}<br>
    </span>
    <table>
    <thead>
    <td>Store Name</td>
    <td>Store Traffic</td>
    <td>Distance From User</td>
    <td>Delivery Day</td>

    </thead>
      {% for item in distances %}
    <tr>

    <td>{{item[1].name.upper()}}</td>
    <td>{{item[1].average_traffic}}</td>

    <td>{{'%0.2f'| format(item[2]|float)}} miles</td>


    <td>{{beer.devlivery_day_of_the_week.upper()}}</td>

    </tr>
    {% endfor %}
    </table>

    <p>Tell us how you feel about this brew:</p>
    <form method="POST">
        <input type="radio" name="new_rating" value="1" /> 1 </label>
        <input type="radio" name="new_rating" value="2" /> 2 </label>
        <input type="radio" name="new_rating" value="3" /> 3 </label>
        <input type="radio" name="new_rating" value="4" /> 4 </label>
        <input type="radio" name="new_rating" value="5" /> 5 </label>
        <button type="submit" name="submit" value="rating">
            <span> Rate</span>
          </button>
    </form>
    <!-- </div> -->


      </div>
<!-- </div> -->

    <!-- <div class="col-sm-5"> -->


    <!-- </div> -->


  </div>


</div>


</body>
</html>

{% endblock %}
