{% extends "base.html" %}

{% block title %}Hope 4 Hops{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>


<body>


    <div class="col-sm-2 sidenav pull-right col-xs-12">
       <div>
 Search
         <form method="POST">

     <input type="text" name="text_search" placeholder="Search by Name..."><br>
   <input type="radio" name="searchtype" value="beer" checked> Beer<br>
   <input type="radio" name="searchtype" value="brewery"> Brewery<br>
   <input type="radio" name="searchtype" value="store"> Store<br>

       <button type="submit" name="submit" value="search">
         <span class="glyphicon glyphicon-search"> Search</span>
       </button>


     </form>
       </div>
     </div>

<div class="container-fluid text-center">
<div class="row">
<div class="col-sm-4">

<h1>{{brewery.name}}</h1>
Address:{{brewery.address}}<br>
State:{{brewery.state}}<br>
</div>
<div class="col-sm-6">
<table>
<thead>

<td>Beer Name</td>
<td>Style</td>
<td>ABV</td>
<td>Popularity</td>
<td>Rarity</td>
</thead>
{% for beer in brewery.beers %}
<tr>
<td><a href="/beerprofile?name={{beer.name}}">{{beer.name}}</a></td>
<td>{{beer.beer_type}}</td>
<td>{{'%0.2f'| format(beer.abv*100|float)}}%</td>
<td>{{beer.average_popularity}}</td>
<td>{{beer.rarity.upper()}}</td>
</tr>
{% endfor %}
</table>

</div>

</div>
</div>


</body>
</html>

{% endblock %}
