{% extends "base.html" %}

{% block title %}Hope 4 Hops{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>


<body>
<div class="container-fluid text-center">
	  <div class="row content">
	    <div class="col-sm-2 sidenav">
	      <p>ADS or more stuff</p>
	      <p style:"font-family:Verdana;">Popular Beers</p>
	      <div id="myCarousel" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <a href="#">
<img class="img-responsive" src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Beer1"></a>
	      <div class="carousel-caption">
		<h3>Beer 1</h3>
		<p>#1</p>
	      </div>
	    </div>
	    <div class="item">
	      <a href="#">
<img class="img-responsive" src="{{ url_for('static', filename='images/placeholder2.png') }}" alt="Beer2"></a>
	      <div class="carousel-caption">
		<h3>Beer 2</h3>
		<p>#2</p>
	      </div>
	    </div>
	    <div class="item">
		<a href="#">
			<img class="img-responsive" src="{{ url_for('static', filename='images/placeholder3.png') }}" alt="Beer3"></a>
	      <div class="carousel-caption">
		<h3>Beer 3</h3>
		<p>#3</p>
	      </div>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

</div>
    <div class="col-sm-8 text-left">
      Hello
    </div>
   <div class="col-sm-2 sidenav">
      <div>
Search
        <form>

	<input type="text" name="search" placeholder="Search...">
  <input type="radio" name="searchtype" value="beer" checked> Beer<br>
  <input type="radio" name="searchtype" value="brewery"> Brewery<br>
  <input type="radio" name="searchtype" value="store"> Store<br>  
      <button type="submit" value="search">
		<span class="glyphicon glyphicon-search"> Search</span>
      </button>
     

    </form>
      </div>
    </div>
  </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Contact or Copyright or w/e</p>
</footer>

</body>
</html>

{% endblock %}
