{% extends "base.html" %}

{% block title %}Hope 4 Hops | Login{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<!-- <head>
  
<style type="text/css">
	body{
		background: url({{ url_for('static', filename='images/beer_for_login_page.jpg') }}) no-repeat center center fixed;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
  </style>
</head> -->
<body>
    {% if error %}
	<p><strong>Error:</strong></p> {{ error }}
	{% endif %}

<div class="login_div">
	<div class="container custom_css">
		<h2>Login</h2>
		<form method="POST">
			<label>Email address</label>
			<input type="text" name="email" aria-describedby="emailHelp" placeholder="Enter email">
			<label>Password</label>
			<input type="password" name="password" placeholder="Password"><br>
	        <input type="radio" name="usertype" value="customer"> Customer<br>
	        <input type="radio" name="usertype" value="storeowner"> Store Owner<br><br>
			<button type="submit" name="submit" value="login" class="btn btn-primary">Submit</button>
		</form>
		<a class="reg_link" href="/register">Register</a>
		<br><br>
	</div>
</div>
</body>
{% endblock %}
