{% extends "base.html" %}

{% block title %}Hope 4 Hops | Login{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<style type="text/css">
	body{
		background: url({{ url_for('static', filename='images/beer_for_login_page.jpg') }}) no-repeat center center fixed;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
  </style>
</head>
<body>
    {% if error %}
      <p><strong>Error:</strong></p> {{ error }}
      {% endif %}
<div class="container custom_css">
	<h2>Login</h2>
	<form method="POST">
		<div class="form-group">
			<label>Email address</label>
			<input type="text" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="text" name="password" class="form-control"  placeholder="Password">
		</div>
		<button type="submit" name="submit" value="login" class="btn btn-primary">Submit</button>
	</form>
	<a class="reg_link" href="/register">Register</a>
</div>
</body>
{% endblock %}
