{% extends "base.html" %}

{% block title %}Hope 4 Hops{% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>


<body>
<div class="container-fluid text-center">
<div class="row">
<div class="col-sm-4">

<h1>{{store.name}}</h1>
Address: {{store.address}}<br>
State: {{store.state}}<br>
Traffic: {{store.traffic}}
</div>
<div class="col-sm-6">
<table>
<thead>
<td>Beer Name</td>
<td>Brewery</td>
<td>Popularity</td>
<td>Rarity</td>
<td>Delivery Day</td>
</thead>
{% for i in range(20) %}
<tr>
<td>{{beername}}</td>
<td>{{brewery}}</td>
<td>{{popularity}}</td>
<td>{{rarity}}</td>
<td>{{deliveryday}}</td>
</tr>
{% endfor %}
</table>

</div>


</div>
</div>

<footer class="container-fluid text-center">
  <p>Contact or Copyright or w/e</p>
</footer>

</body>
</html>

{% endblock %}
